<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
    <script src="sweetalert2/dist/sweetalert2.min.js"></script>
	<link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Conversion</title>
</head>
<body>
    <div id="myapp" style="height:inherit;" v-cloak>
        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 border-bottom">Movimiento Rectilineo Uniforme<a href="menuMovimientos.html"><img src="imagenes/atras.png" alt="Atrás" width="35px;"></a></h2>
            
            <div>
                <table>
                    <tr>
                        <td style="width: 10%;">Distancia = </td>

                        <td style="width: 10%; text-align: center;">Velocidad: </td>

                        <td>
                            <input type="text" name="valorVelocidad_D" id="valorVelocidad_D" v-model="valorVelocidad_D" style="width: 100%;">
                        </td>

                        <td style="width: 10%; text-align: center;">
                            <select name="unidades_velocidad_D" id="unidades_velocidad_D" v-model="unidades_velocidad_D" style="width: 100%;">
                                <option disabled value="">Seleccionar:</option>
                                <option value="1">KM/H</option>
                                <option value="2">KM/M</option>
                                <option value="3">KM/S</option>
                            </select>
                        </td>
                        
                        <td style="width: 10%; text-align: center;">Tiempo: </td>
                        
                        <td>
                            <input type="text" name="valorTiempo_D" id="valorTiempo_D" v-model="valorTiempo_D" style="width: 100%;">
                        </td>

                        <td style="width: 10%; text-align: center;">
                            <select name="unidades_tiempo_D" id="unidades_tiempo_D" v-model="unidades_tiempo_D" style="width: 100%;">
                                <option disabled value="">Seleccionar:</option>
                                <option value="1">Hora(s)</option>
                                <option value="2">Minuto(s)</option>
                                <option value="3">Segundo(s)</option>
                            </select>
                        </td>

                        <td style="width: 10%; text-align: right;">
                            <button v-on:click="calcularDistancia">Convertir</button>
                        </td>

                        <td style="width: 10%; text-align: center;">=</td>
                        <td>
                            <input type="text" name="valorTotal_D" id="valorTotal_D" v-model="valorTotal_D" style="width: 100%;" readonly>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 10%;">Velocidad = </td>

                        <td style="width: 10%; text-align: center;">Distancia: </td>

                        <td>
                            <input type="text" name="valorDistancia_V" id="valorDistancia_V" v-model="valorDistancia_V" style="width: 100%;">
                        </td>

                        <td style="width: 10%; text-align: center;">
                            <select name="unidades_distancia_V" id="unidades_distancia_V" v-model="unidades_distancia_V" style="width: 100%;">
                                <option disabled value="">Seleccionar:</option>
                                <option value="1">KM</option>
                                <option value="2">M</option>
                                <option value="3">CM</option>
                            </select>
                        </td>
                        
                        <td style="width: 10%; text-align: center;">Tiempo: </td>
                        
                        <td>
                            <input type="text" name="valorTiempo_V" id="valorTiempo_V" v-model="valorTiempo_V" style="width: 100%;">
                        </td>

                        <td style="width: 10%; text-align: center;">
                            <select name="unidades_tiempo_V" id="unidades_tiempo_V" v-model="unidades_tiempo_V" style="width: 100%;">
                                <option disabled value="">Seleccionar:</option>
                                <option value="1">Hora(s)</option>
                                <option value="2">Minuto(s)</option>
                                <option value="3">Segundo(s)</option>
                            </select>
                        </td>

                        <td style="width: 10%; text-align: right;">
                            <button v-on:click="calcularVelocidad">Convertir</button>
                        </td>

                        <td style="width: 10%; text-align: center;">=</td>
                        <td>
                            <input type="text" name="valorTotal_V" id="valorTotal_V" v-model="valorTotal_V" style="width: 100%;" readonly>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="width: 10%;">Tiempo = </td>

                        <td style="width: 10%; text-align: center;">Distancia: </td>

                        <td>
                            <input type="text" name="valorDistancia_T" id="valorDistancia_T" v-model="valorDistancia_T" style="width: 100%;">
                        </td>

                        <td style="width: 10%; text-align: center;">
                            <select name="unidades_distancia_T" id="unidades_distancia_T" v-model="unidades_distancia_T" style="width: 100%;">
                                <option disabled value="">Seleccionar:</option>
                                <option value="1">KM</option>
                                <option value="2">M</option>
                                <option value="3">CM</option>
                            </select>
                        </td>
                        
                        <td style="width: 10%; text-align: center;">Velocidad: </td>
                        
                        <td>
                            <input type="text" name="valorVelocidad_T" id="valorVelocidad_T" v-model="valorVelocidad_T" style="width: 100%;">
                        </td>

                        <td style="width: 10%; text-align: center;">
                            <select name="unidades_velocidad_T" id="unidades_velocidad_T" v-model="unidades_velocidad_T" style="width: 100%;">
                                <option disabled value="">Seleccionar:</option>
                                <option value="1">KM/H</option>
                                <option value="2">KM/M</option>
                                <option value="3">KM/S</option>
                            </select>
                        </td>

                        <td style="width: 10%; text-align: right;">
                            <button v-on:click="calcularTiempo">Convertir</button>
                        </td>

                        <td style="width: 10%; text-align: center;">=</td>
                        <td>
                            <input type="text" name="valorTotal_T" id="valorTotal_T" v-model="valorTotal_T" style="width: 100%;" readonly>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        
    </div>

    <script src="vue/mru.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>